
div.vote {
    text-align: center;
    font-size: 250%;
    line-height: normal;
    font-weight: bold;
    margin-right:16px;
    width:90px;
    margin-top:16px;

    a {
        font-size: 50%;
        display: block;
        text-decoration: none;
    }

    a.mine {
        color: @linkColorHover;
    }



    div.votes
    {
        width:90px;
        text-align: center;
    }
}

td.votes
 {
     width:90px ;
     text-align: center;
 }

div.minus
{
    margin-left: -15px;
}

div.container
{
    min-height: 100%;
    border-right: solid 4px #08C;
    padding: 16px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    border-left: solid 4px #08C;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 89%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(89%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 89%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 89%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 89%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 89%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:  0px 6px 30px 0px rgba(0, 0, 0, 1);

    box-shadow:  0px 6px 30px 0px rgba(0, 0, 0, 1);
}

div.masthead
{

    border-bottom: solid 1px #EBEBEB;
    margin: -16px;
    padding: 16px;
    background: #DDD;
    background: -moz-linear-gradient(top, rgba(221, 221, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221, 221, 221, 1)), color-stop(100%,rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(221, 221, 221, 1) 0%,rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(221, 221, 221, 1) 0%,rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(221, 221, 221, 1) 0%,rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 1) 0%,rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 );
    margin-bottom: 16px;

}

span.upLink
{
    width: 53px;
    height: 100px;
    background-image: url(../img/up2.png);
    background-repeat: no-repeat;
    background-size: 35px auto;
    position: fixed;
    bottom: 40px;
    right: -17px;
}

ul.nav-tabs
{
    margin-top:16px;
}

input
{
    margin-left:8px;
    margin-right:8px;
}



textarea
{
    margin-left:8px;
    margin-right:8px;
}

a.btn
{
    margin-left:8px;
    margin-right:8px;
}

html
{
    height:100%;
}

body
{
    background-image: url(../img/low_contrast_linen.png);
    height:100%;
    overflow: scroll;
}

tr.grey
{
    background-color: rgba(196, 195, 206, 0.19);
}

div.showIdeaWrapper
{
    background-color: #EEE;
    padding: 8px;
    min-height: 300px;
}

div.showIdeaWrapper div.stateOfIdea
{
    float:left;
    margin-top: -55px;
}

div.showIdeaWrapper div.vote
{
    float:left;
    margin-top:-50px;
    margin-right: 0px;
}

div.showIdeaWrapper p
{
    padding-left: 100px;
    padding-right: 60px
}

div.showIdeaWrapper h2
{
    margin-left: 100px;
    margin-right:60px;
}

div.stateOfIdea
{
    margin-top: 16px;
}
div.stateOfIdea
{
   // text-align: left;
    width:69px;
    height:94px;
    background-image: url(../img/closed2.png);
    background-repeat: no-repeat;
    background-size: 60px auto;
    background-position: 50% 50%;
    margin-left: 10px;
}

p.stateOfIdea
{
    float: right;
    background-color: #BBB;
    color: white;
    padding: 5px;
    font-size: 12px;
    margin-top: -9px;
    margin-right: -8px;
    -webkit-border-radius: 0px 0px 0px 10px;
    border-radius: 0px 0px 0px 10px;
}


